<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.CustomerMapper">
	<update id="updateCustomerActiveByscheduler">	
		UPDATE customer c, (SELECT customer_id, max(rental_date), DATEDIFF(NOW(), max(rental_date))
	          	            FROM rental
		                  	GROUP BY customer_id
		                    HAVING DATEDIFF(NOW(), max(rental_date)) > 365) A
		SET c.active = 0
		WHERE c.customer_id = A.customer_id
	</update>
	<select id="selectCustomerList"
			parameterType="java.util.Map"
			resultType="java.util.Map">
		SELECT 
			c.customer_id customerId,
			c.store_id storeId,
			CONCAT(c.first_name,' ',c.last_name) name,
			c.email email,
			CASE
			WHEN c.active = 1 THEN '활동'
			ELSE '휴면'
			END active
		FROM 
			customer c
		<where>
			<if test="storeId != 0">
				AND c.store_id = #{storeId}
			</if>
			<if test="searchWord!=null and searchWord != ''">
				AND CONCAT(c.first_name,' ',c.last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		LIMIT #{page.beginRow}, #{page.rowPerPage}
	</select>
	<select id="selectCustomerTotal"
			parameterType="java.util.Map"
			resultType="Integer">
		SELECT 
			COUNT(*) 
		FROM 
			customer c
		<where>
			<if test="storeId != 0">
				AND store_id = #{storeId}
			</if>
			<if test="searchWord !=null and searchWord != ''">
				AND CONCAT(c.first_name,' ',c.last_name) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	<select id="selectCustomerOne"
			parameterType="int"
			resultType="java.util.Map">
		SELECT 
			c.customer_id customerId,
			c.store_id storeId,
			CONCAT(c.first_name, ' ', c.last_name) name,
			c.email email,
			a.address address,
			a.district district,
			CASE
			WHEN c.active = 1 THEN '활동'
			ELSE '휴면'
			END active,
			c.create_date createDate
		FROM 
			customer c
			JOIN address a ON c.address_id = a.address_id
		WHERE c.customer_id = #{customerId}
	</select>
	<select id = "selectPaymentByCustomerId"
			parameterType="int"
			resultType="Double">
		SELECT 
			SUM(p.amount) total
		 FROM 
		 	payment p
		 	WHERE p.customer_id = #{customerId}
		GROUP BY p.customer_id
	</select>
	<select id="selectBlackConsumer" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM (SELECT r.customer_id customerId, i.inventory_id, i.film_id, r.rental_date, r.return_date,
			DATEDIFF(r.return_date, r.rental_date) DAY,
			if(DATEDIFF(r.return_date, r.rental_date) IS NULL, '대여중',
			if(DATEDIFF(r.return_date, r.rental_date) > f.rental_duration, '연체', '정상반납')) state, f.rental_duration
		FROM inventory i
		JOIN film f ON i.film_id = f.film_id
		JOIN rental r ON r.inventory_id = i.inventory_id) e 
		WHERE e.state='연체' AND e.customerId=#{customerId}
	</select>
	<!-- 고객 추가용(customer) -->
	<insert id="insertCustomer" 
			parameterType="com.gd.sakila.vo.CustomerForm">
		INSERT INTO 
			customer(
				store_id, 
				first_name, 
				last_name, 
				email, 
				address_id, 
				active
			)  VALUES(
				#{storeId}, 
				#{firstName}, 
				#{lastName}, 
				#{email}, 
				#{addressId}, 
				1
			)
	</insert>
   	<select id="selectCustomerRentalHisroty"
   			parameterType="int"
   			resultType="java.util.Map">
   		SELECT 
   			r.rental_id rentalId,
			i.film_id filmId,
			f.title title,
			i.store_id storeId,
			r.inventory_id inventoryId, 
			if(r.return_date IS NULL , '대여중', '반납완료') state,
			p.amount rateAmount
		FROM 
			rental r 
			JOIN inventory i ON r.inventory_id = i.inventory_id
			JOIN film f ON i.film_id = f.film_id
			LEFT JOIN payment p ON r.rental_id = p.rental_id
			WHERE r.customer_id = #{customerId}
			ORDER BY r.rental_date DESC 
			LIMIT 20
   	</select>
</mapper>