<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.PaymentMapper">
	<insert id="insertPayment"
			parameterType="java.util.Map">
		INSERT INTO 
		payment (
			customer_id,
			staff_id,
			rental_id,
			amount,
			payment_date
		) VALUES (
			#{customerId},
			#{staffId},
			#{rentalId},
			(SELECT
				f.rental_rate
			FROM 
				film f
			WHERE 
				f.film_id = 1),
			NOW()
		)
	</insert>
	<update id="updatePayment"
			parameterType="java.util.Map">
		
	</update>
</mapper>