<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.SalesMapper">
	<select id="selectSalesByFilmCategory"
			resultType="java.util.Map">
		SELECT
			category,
			total_sales sales
		FROM
			sales_by_film_category
	</select>
	<select id="selectMonthlyTotal"
			resultType="java.util.Map">
		SELECT 
			DATE_FORMAT(payment_date,'%Y-%m') month,
			SUM(amount) total
		FROM
			 payment 
		GROUP BY 
			month
	</select>
</mapper>